<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lang.iSPAdmin2}"></title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
    <header id="header" class="header-area">

        <div class="logoBlock">
            <div style="font-size: 16px; text-align: end;">
                <a th:href="@{/manageUsers(lang='eng')}">EN</a>
                <a th:href="@{/manageUsers(lang='ru')}">RU</a>
            </div>
            <p id="pageLogo">ISPAdmin</p>
            <div class="mainmenu">
                <ul>
                    <li><a class="scroll-animite btn"
                           href="/adminPage" th:text="#{lang.mainPage}"></a></li>
                    <li><a class="scroll-animite btn"
                           href="/servicePageAdmin" th:text="#{lang.serviceMenu}"></a></li>
                    <li><a class="scroll-animite btn"
                           href="/userPageAdmin" th:text="#{lang.clients}"></a></li>
                    <li><a class="scroll-animite logOutBtn"
                           href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div id="time"><span id="datetime"></span></div>
        <script type="text/javascript" th:src="@{/js/time.js}"></script>

    </header>
    <!-- Slider area Start -->
    <div class="slider-area">
        <div class="slider-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slidertext">
                            <h1 th:text="#{lang.clientRegistration}">
                            </h1>
                            <br>
                            <p th:text="#{lang.registerInfo}">
                            </p>
                        </div>
                    </div>
                    <div class="newTariff">
                        <form action="/manageUsers" th:object="${userForm}" method="POST">
                            <div>
                                <label th:text="#{lang.placeholderFirstName}">First name</label>
                                <input th:field="*{firstName}"/>
                            </div>
                            <div>
                                <label th:text="#{lang.placeholderSecondName}"></label>
                                <input th:field="*{secondName}"/>
                            </div>
                            <div>
                                <label th:text="#{lang.placeholderEmail}"></label>
                                <input type="email" th:field="*{username}"/>
                            </div>
                            <div>
                                <label th:text="#{lang.phone}"></label>
                                <input type="text" th:field="*{phone}"/>
                            </div>
                            <div>
                                <label th:text="#{lang.password}"></label>
                                <input type="password" th:field="*{password}"/>
                            </div>
                            <button type="submit" th:text="#{lang.submit}">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>