<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
  <header id="header" class="header-area">

    <div class="logoBlock">
      <div style="font-size: 16px; text-align: end;">
        <a th:href="@{/userPageAdmin(lang='eng')}">EN</a>
        <a th:href="@{/userPageAdmin(lang='ru')}">RU</a>
      </div>
      <p id="pageLogo">ISPAdmin</p>
      <div class="mainmenu">
        <ul>
          <li><a class="scroll-animite btn"
                 href="/adminPage" th:text="#{lang.mainPage}"></a></li>
          <li><a class="scroll-animite btn"
                 href="/servicePageAdmin" th:text="#{lang.serviceMenu}"></a></li>
          <li><a class="scroll-animite btn"
                 href="/userPageAdmin" th:text="#{lang.clients}"></a></li>
          <li><a class="scroll-animite logOutBtn"
                 href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div >
    <div id="time"><span id="datetime"></span></div>
    <script src="${pageContext.request.contextPath}/styles/js/time.js"></script>

  </header>
  <!-- Slider area Start -->
  <div class="slider-area">
    <div class="slider-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slidertext">
              <h1>Tariffs</h1>
              <br>
              <p>Tariff registration</p>
            </div>
          </div>
          <div class="newTariff">
            <form th:action="@{/newTariff(service=${service})}" th:object="${tariffForm}" method="POST">
              <div>
                <p>
                  <label>
                    <input class="profileEditorFields loginField" type="text" th:field="*{name}" th:placeholder="#{lang.placeholderFirstName}"/>
                  </label>
                </p>
              </div>
              <div>
                <p>
                  <label>
                    <input class="profileEditorFields loginField" type="text" th:field="*{description}" th:placeholder="#{lang.placeholderSecondName}"/>
                  </label>
                </p>
              </div>
              <div>
                <p>
                  <label>
                    <input class="profileEditorFields loginField" type="text" th:field="*{price}" th:placeholder="#{lang.placeholderEmail}"/>
                  </label>
                </p>
              </div>
              <div>
                <button class="btn editProfileBtn" id="loginSubmitBtn" type="submit" th:text="#{lang.submit}">submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>