<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISPAdmin: Tariffs</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
    <header id="header" class="header-area">

        <div class="logoBlock">
            <div style="font-size: 16px; text-align: end;">
                <a th:href="@{/tariffPage(lang='eng')}">EN</a>
                <a th:href="@{/tariffPage(lang='ru')}">RU</a>
            </div>
            <p id="pageLogo">ISPAdmin</p>
            <div class="mainmenu">
                <ul>
                    <li><a class="scroll-animite btn"
                           href="/adminPage" th:text="#{lang.mainPage}"></a></li>
                    <li><a class="scroll-animite btn"
                           href="/servicePageAdmin" th:text="#{lang.serviceMenu}"></a></li>
                    <li><a class="scroll-animite btn"
                           href="/userPageAdmin" th:text="#{lang.clients}"></a></li>
                    <li><a class="scroll-animite logOutBtn"
                           href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div id="time"><span id="datetime"></span></div>

    </header>
    <!-- Slider area Start -->
    <div class="slider-area">
        <div class="slider-bg text-center">
            <div class="container">
                <div class="row">

                    <div th:if="${commandInterface}">
                        <div class="col-lg-12">
                            <div class="slidertext">
                                <h1>Tariffs</h1>
                                <br>
                                <p>Update Tariff</p>
                            </div>
                        </div>
                        <div class="newTariff">


                            <form th:action="@{/managePlan(service=${service})}" th:object="${tariffUpdate}"
                                  method="POST">
                                <div>
                                    <p>
                                        <label>
                                            <input class="tariff1" type="text" th:field="*{name}"
                                                   th:placeholder="#{lang.tariffName}">
                                        </label>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <label>
                                            <input class="tariff1" type="text" th:field="*{description}"
                                                   th:placeholder="#{lang.tariffDescription}">
                                        </label>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <label>
                                            <input class="tariff1" type="text" th:field="*{price}"
                                                   th:placeholder="#{lang.tariffPrice}">
                                        </label>
                                    </p>
                                </div>
                                <div>
                                    <button class="btn editProfileBtn" id="loginSubmitBtn" type="submit"
                                            th:text="#{lang.submit}">submit
                                    </button>
                                    <input type="hidden" th:field="*{id}"/>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div th:if="${!commandInterface}">
                        <div class="col-lg-12">
                            <div class="slidertext">
                                <h1>Tariffs</h1>
                                <br>
                                <p>Manage, delete or add tariff</p>
                            </div>
                        </div>
                        <div class="tableTariffs">
                            <table class="table1 sortable">
                                <thead>
                                <tr>
                                    <th class="sorttable_numeric">id</th>
                                    <th class="sorttable_alpha">Name</th>
                                    <th class="sorttable_alpha">Description</th>
                                    <th class="sorttable_numeric">Price</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="highlight" th:each="item : ${tariffs}">
                                    <td><p style="font-size: 16px; text-align: center" th:text="${item.id}"></p></td>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.description}"></td>
                                    <td th:text="${item.price}"></td>
                                    <td>
                                        <a class="updateButton"
                                           th:href="@{/managePlan(id=${item.id},service=${service})}">
                                            Update
                                        </a>
                                    </td>
                                    <td>
                                        <form th:action="@{/deleteTariff(id=${item.id},service=${service})}"
                                              method="post">
                                            <button class="deleteButton" type="submit"
                                                    th:text="#{lang.delete}"></button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                            <br>
                            <a class="w3-container" align="center"
                               th:href="@{/newTariff(id=${param.get('param')})}">
                                new
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="${pageContext.request.contextPath}/styles/js/time.js"></script>
<script src="${pageContext.request.contextPath}/styles/js/jquery-3.2.1.min.js"></script>
<script src="${pageContext.request.contextPath}/styles/js/rowLight.js"></script>
<script src="${pageContext.request.contextPath}/styles/js/sorttable.js"></script>

</body>
</html>