<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lang.iSPAdmin6}"></title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
    <header id="header" class="header-area">

        <div class="logoBlock">
            <div style="font-size: 16px; text-align: end;">
                <a th:href="@{/userPageAdmin(lang='eng')}">EN</a>
                <a th:href="@{/userPageAdmin(lang='ru')}">RU</a>
            </div>
            <p id="pageLogo">ISPAdmin</p>
            <div class="mainmenu">
                <ul>
                    <li><a class="scroll-animite btn"
                           href="/adminPage" th:text="#{lang.mainPage}"></a></li>
                    <li><a class="scroll-animite btn"
                           href="/servicePage" th:text="#{lang.serviceMenu}"></a></li>
                    <li><a class="scroll-animite btn"
                           href="/userPageAdmin" th:text="#{lang.clients}"></a></li>
                    <li><a class="scroll-animite logOutBtn"
                           href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div >
        <div id="time"><span id="datetime"></span></div>
        <script type="text/javascript" th:src="@{/js/time.js}"></script>
    </header>
    <!-- Slider area Start -->
    <div class="slider-area">
        <div class="slider-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slidertext">
                            <h1 th:text="#{lang.clients}"></h1>
                            <br>
                            <p th:text="#{lang.clientsPageInfo}"></p>
                        </div>
                    </div>
<!--                    th:if="${!moreInfo}"-->
                    <div class="tableTariffs" >

                        <table class="table1 sortable">
                            <thead>
                            <tr>
                                <th class="sorttable_numeric" >id</th>
                                <th class="sorttable_alpha" th:text="#{lang.placeholderFirstName}"></th>
                                <th class="sorttable_alpha" th:text="#{lang.placeholderSecondName}"></th>
                                <th class="sorttable_numeric" th:text="#{lang.phone}"></th>
                                <th class="sorttable_alpha" th:text="#{lang.placeholderEmail}"></th>
                                <th class="sorttable_numeric" th:text="#{lang.wallet}"></th>
                                <th class="sorttable_numeric" th:text="#{lang.status}"></th>
                                <th th:text="#{lang.setStatus}"></th>
                                <th th:text="#{lang.delete}"></th>
                                <th th:text="#{lang.moreInfo}"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="highlight" th:each="item : ${users}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.firstName}"></td>
                                    <td th:text="${item.secondName}"></td>
                                    <td th:text="${item.phone}"></td>
                                    <td th:text="${item.username}"></td>
                                    <td th:text="${item.wallet}"></td>

                                    <td th:if="${item.statuses[0].id == 2}">
                                        <p style="color: green" th:text="#{lang.activeUser}"></p>
                                    </td>
                                    <td th:if="${item.statuses[0].id == 1}">
                                        <p style="color: green" th:text="#{lang.blocked}">Blocked</p>
                                    </td>
                                    <td th:if="${item.statuses[0].id == 2}">
                                        <form  th:action="@{/userPageAdmin(action='block',userId=${item.id})}" method="post">
                                            <button class="updateButton" type="submit" th:text="#{lang.block}"></button>
                                        </form>
                                    </td>
                                    <td th:if="${item.statuses[0].id == 1}">
                                        <form  th:action="@{/userPageAdmin(action='unblock',userId=${item.id})}" method="post">
                                            <button class="updateButton" type="submit" th:text="#{lang.unblock}"></button>
                                        </form>
                                    </td>
                                    <td>
                                        <form  th:action="@{/userPageAdmin(action='delete',userId=${item.id})}" method="post">
                                            <button class="deleteButton" type="submit" th:onclick="return confirm('1' + #{lang.delete})" th:text="#{lang.delete}"></button>
                                        </form>
<!--                                        <a class="deleteButton"-->
<!--                                           href="${pageContext.request.contextPath}/view/admin/userPageAdmin?command=delete&Uid=${item.id}"-->
<!--                                           onclick="return confirm('')">Delete</a>-->
                                    </td>
                                    <td>
                                        <a class="deleteButton" id="moreBtn"
                                           href="/userPageAdmin?command=more&Uid=${item.id}" th:text="#{lang.more}"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <br>
                        <a class="w3-container" align="center" href="/manageUsers" th:text="#{lang.registerClient}"></a>
<!--                        <form class="w3-container" align="center" method="get"-->
<!--                              action="/manageUsers">-->
<!--                            <input class="btn btnAdd" type="submit" name="add" value="Register client">-->
<!--                        </form>-->
                    </div>

<!--                    <div class="tableTariffs" th:if="${moreInfo}">-->

<!--                        <h4>Client tariffs</h4>-->
<!--                        <br>-->
<!--                        <table class="tableService" id="subService">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>Name</th>-->
<!--                                <th>Status</th>-->
<!--                                <th>Next Bill</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr class="highlight" th:each="item : ${userTariffs}">-->
<!--                                <td th:text="${item.key.name}"></td>-->
<!--                                <td th:if="${item.value.status == 0}">-->
<!--                                    <p class="stoppedStatus">Stopped</p>-->
<!--                                <td th:if="${item.value.status == 1}">-->
<!--                                    <p class="activeStatus">Active</p>-->
<!--                                </td>-->
<!--                                <td th:text="${item.value.nextBill}"></td>-->

<!--                                <td class="endTdUserInfo" th:if="${item.value.status == 0}">-->
<!--                                    <a class="updateButton"-->
<!--                                       href="/userPageAdmin?command=more&operation=Activate&Uid=${param.get('Uid')}&Tid=${item.key.id}"-->
<!--                                       onclick="return confirm('')">Activate</a>-->
<!--                                <td class="endTdUserInfo" th:if="${item.value.status == 1}">-->
<!--                                    <a class="deleteButton"-->
<!--                                       href="${pageContext.request.contextPath}/view/admin/userPageAdmin?command=more&operation=Deactivate&Uid=${param.get('Uid')}&Tid=${item.key.id}"-->
<!--                                       onclick="">Deactivate</a>-->
<!--                                </td>-->
<!--                                <td class="endTdUserInfo">-->
<!--                                    <a class="deleteButton"-->
<!--                                       href="${pageContext.request.contextPath}/view/admin/userPageAdmin?command=more&operation=Unsubscribe&Uid=${param.get('Uid')}&Tid=${item.key.id}"-->
<!--                                       onclick="">Unsubscribe user</a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<script src="${pageContext.request.contextPath}/styles/js/time.js"></script>-->
    <!--<script src="${pageContext.request.contextPath}/styles/js/jquery-3.2.1.min.js"></script>-->
    <!--<script src="${pageContext.request.contextPath}/styles/js/rowLight.js"></script>-->
    <!--<script src="${pageContext.request.contextPath}/styles/js/sorttable.js"></script>-->


</body>
</html>