<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:value="#{lang.typeTable1}"></title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
    <header id="header" class="header-area">

        <div class="logoBlock">
            <div style="font-size: 16px; text-align: end;">
                <a th:href="@{/profile(lang='eng')}">EN</a>
                <a th:href="@{/profile(lang='ru')}">RU</a>
            </div>
            <p id="pageLogo">ISPManager</p>
            <div class="mainmenu">
                <ul class="topChange">
                    <li><a class="btn" href="/clientPage" th:text="#{lang.mainPage}"></a></li>
                    <li><a class="btn" href="/servicePageClient"  th:text="#{lang.serviceMenu}">
                        <i class="fa fa-angle-down"></i></a>

                        <ul class="subChange" >
                            <li class="serviceListMenu" th:each="service : ${session.services}">
                                <div th:if="${service.name} != 'Complex'">
                                    <a th:href="@{/servicePageClient(service=${service.id})}"><span
                                            th:text="${service.name}"></span></a>
                                </div>
                            </li>
                        </ul>

                    </li>
                    <li><a class="btn" href="/paymentSystem" th:text="#{lang.payments}"></a></li>
                    <li><a class="btn"
                           href="#" th:text="#{lang.manageProfile}">
                        <i class="fa fa-angle-down"></i></a>
                        <ul class="subChange" id="profChange">
                            <li>
                                <a th:href="@{/manage(param='manageName')}" th:text="#{lang.name}">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/manage(param='manageEmail')}" th:text="#{lang.placeholderEmail}">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/manage(param='managePhone')}" th:text="#{lang.phone}">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/manage(param='managePassword')}" th:text="#{lang.password}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="btn" href="/supportPage" th:text="#{lang.support}">
                    </a>
                    </li>
                    <li><a class="logOutBtn" href="/logout">
                        Log Out
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="minInfo">
            <div id="time"><span id="datetime"></span></div>
        </div>
    </header>
    <!-- Slider area Start -->
    <div class="slider-area">
        <div class="slider-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slidertext">
                            <h1 th:value="#{lang.myProfile}"></h1>
                            <br>
                            <p th:value="#{lang.basicInfoProfile}">></p>
                            <br>
                        </div>
                    </div>
                    <div class="tableTariffs" id="payment">
                        <th:block th:switch="${command}">
                            <div th:case="'manageName'">
                                <div class="editNameForm">
                                    <h3 th:value="#{lang.manageName}">
                                    </h3>
                                    <form th:action="@{/manageName}" method="post">
                                        <p>
                                            <label th:text="#{lang.placeholderFirstName}">
                                                <input type="text" th:field="${userForm.firstName}"/>
                                            </label>
                                        </p>
                                        <p>
                                            <label th:text="#{lang.placeholderSecondName}">
                                                <input type="text" th:field="${userForm.secondName}"/>
                                            </label>
                                        </p>
                                        <div>
                                            <button type="submit" th:text="#{lang.submit}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div th:case="'managePhone'">
                                <div class="editNameForm">
                                    <h3 th:text="#{lang.managePhone}">
                                    </h3>
                                    <form th:action="@{/managePhone}" method="post">
                                        <p>
                                            <label th:text="#{lang.phone}">
                                                <input type="text" th:field="${userForm.phone}"/>
                                            </label>
                                        </p>
                                        <div>
                                            <button type="submit" th:text="#{lang.submit}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div th:case="'managePassword'">
                                <div class="editNameForm">
                                    <h3 th:text="#{lang.managePassword}">
                                        Manage Password
                                    </h3>
                                    <form th:action="@{/manage(action='managePassword')}" method="post">
                                        <p>
                                            <label th:text="#{lang.placeholderOldPass}">
                                                <input type="password" th:name="oldPass"/>
                                            </label>
                                        </p>
                                        <p>
                                            <label th:text="#{lang.placeholderNewPass}">
                                                <input type="password" th:name="newPass"/>
                                            </label>
                                        </p>
                                        <input type="submit" th:text="#{lang.submit}"/>
                                    </form>
                                </div>
                            </div>
                            <div th:case="'manageEmail'">
                                <div class="editNameForm">
                                    <h3 th:text="#{lang.manageEmail}">
                                    </h3>
                                    <form th:action="@{/manageEmail}" method="post">
                                        <p>
                                            <label th:text="#{lang.placeholderEmail}">
                                                <input type="email" th:field="${userForm.username}"/>
                                            </label>
                                        </p>
                                        <div>
                                            <button type="submit" th:text="#{lang.submit}"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </th:block>

                        <!--                                <c:when test="${phoneChange}">-->
                        <!--                                    <div class="editPhoneForm">-->
                        <!--                                        <h3><fmt:message-->
                        <!--                                                key="managePhone"/></h3>-->
                        <!--                                        <form class="editFormChild" method="post"-->
                        <!--                                              action="${pageContext.request.contextPath}/view/client/profile?change=phone&redirect=true">-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="text" required-->
                        <!--                                                           value="${phone}"-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="phone"/>"-->
                        <!--                                                    name="phone">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <div>-->
                        <!--                                                <input class="btn editProfileBtn" type="submit"-->
                        <!--                                                       value="<fmt:message-->
                        <!--                                key="submit"/>" name="changePhone">-->
                        <!--                                            </div>-->
                        <!--                                        </form>-->
                        <!--                                    </div>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${emailChange}">-->
                        <!--                                    <div class="editEmailForm">-->
                        <!--                                        <h3><fmt:message-->
                        <!--                                                key="manageEmail"/></h3>-->
                        <!--                                        <form class="editFormChild" method="post"-->
                        <!--                                              action="${pageContext.request.contextPath}/view/client/profile?change=email&redirect=true">-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="email" required-->
                        <!--                                                           value="${email}"-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="placeholderEmail"/>"-->
                        <!--                                                    name="email">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <div>-->
                        <!--                                                <input class="btn editProfileBtn" type="submit"-->
                        <!--                                                       value="<fmt:message-->
                        <!--                                key="submit"/>" name="changeEmail">-->
                        <!--                                            </div>-->
                        <!--                                        </form>-->
                        <!--                                    </div>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${passChange}">-->
                        <!--                                    <div class="editPassForm">-->
                        <!--                                        <h3><fmt:message-->
                        <!--                                                key="managePassword"/></h3>-->
                        <!--                                        <form class="editFormChild" method="post"-->
                        <!--                                              action="${pageContext.request.contextPath}/view/client/profile?change=password&redirect=true">-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="password" required-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="placeholderOldPass"/>"-->
                        <!--                                                    name="oldPass">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="password" required-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="placeholderNewPass"/>"-->
                        <!--                                                    name="newPass">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <div>-->
                        <!--                                                <input class="btn editProfileBtn " type="submit"-->
                        <!--                                                       value="<fmt:message-->
                        <!--                                key="submit"/>" name="changePassword">-->
                        <!--                                            </div>-->
                        <!--                                        </form>-->
                        <!--                                    </div>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${success}">-->
                        <!--                                    <p><fmt:message key="savedChanges"/></p>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${!success}">-->
                        <!--                                    <p><fmt:message key="passFail"/></p>-->
                        <!--                                </c:when>-->
                        </c:choose>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="${pageContext.request.contextPath}/styles/js/time.js"></script>

</body>
</html>