<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISPManager: Manage profile</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
    <header id="header" class="header-area">

        <div class="logoBlock">
            <div style="font-size: 16px; text-align: end;">
                <a class="loginBtn" href="${pageContext.request.contextPath}/view/language/client/profile?language=RU">
                    RU
                </a>
                <a class="loginBtn" href="${pageContext.request.contextPath}/view/language/client/profile?language=EN">
                    EN
                </a>
            </div>
            <p id="pageLogo">ISPManager</p>
            <div class="mainmenu">
                <ul class="topChange">
                    <li><a class="btn"
                           href="/clientPage">
                        Main page
                    </a></li>
                    <li><a class="btn"
                           href="/servicePage">
                        Services
                        <i
                                class="fa fa-angle-down"></i></a>
                        <!--                        <ul class="subChange" th:each="service : ${services}">-->
                        <!--                                <li>-->
                        <!--                                  <a href="/view/client/servicePage?item=${service.name}&serviceId=${item.id}"><span th:text="${service.name}"></span></a>-->
                        <!--                                </li>-->
                        <!--                        </ul>-->
                    </li>
                    <li><a class="btn"
                           href="/paymentSystem">
                        Payments
                    </a></li>
                    <li><a class="btn"
                           href="#">
                        Manage profile
                        <i class="fa fa-angle-down"></i></a>
                        <ul class="subChange" id="profChange">
                            <li>
                                <a th:href="@{/manage(param='manageName')}">
                                    Name
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/manage(param='manageEmail')}">
                                    Email
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/manage(param='managePhone')}">
                                    Phone
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/manage(param='managePassword')}">
                                    Password
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="btn" href="/supportPage">
                        Support
                    </a>
                    </li>
                    <li><a class="logOutBtn" href="/logout">
                        Log Out
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="minInfo">
            <div id="time"><span id="datetime"></span></div>
        </div>
    </header>
    <!-- Slider area Start -->
    <div class="slider-area">
        <div class="slider-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slidertext">
                            <h1>My profile</h1>
                            <br>
                            <p>Edit your profile information></p>
                            <br>
                        </div>
                    </div>
                    <div class="tableTariffs" id="payment">
                        <th:block th:switch="${command}">
                            <div th:case="'manageName'">
                                <div class="editNameForm">
                                    <h3>
                                        Manage Name
                                    </h3>
                                    <form th:action="@{/manageName}" method="post">
                                        <p>
                                            <label>
                                                <input type="text" th:field="${userForm.firstName}" required
                                                       placeholder="First Name"/>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input type="text" th:field="${userForm.secondName}" required
                                                       placeholder="Second Name"/>
                                            </label>
                                        </p>
                                        <div>
                                            <button type="submit" th:text="Submit">submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div th:case="'managePhone'">
                                <div class="editNameForm">
                                    <h3>
                                        Manage Phone
                                    </h3>
                                    <form th:action="@{/managePhone}" method="post">
                                        <p>
                                            <label>
                                                <input type="text" th:field="${userForm.phone}" required
                                                       placeholder="Phone"/>
                                            </label>
                                        </p>
                                        <div>
                                            <button type="submit" th:text="Submit">submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div th:case="'managePassword'">
                                <div class="editNameForm">
                                    <h3>
                                        Manage Password
                                    </h3>
                                    <form th:action="@{/manage(action='managePassword')}" method="post">
                                        <p>
                                            <label>
                                                <input type="password" th:name="oldPass" required
                                                       placeholder="Old Password"/>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input type="password" th:name="newPass" required
                                                       placeholder="New Password"/>
                                            </label>
                                        </p>
                                        <input type="submit"/>
                                    </form>
                                </div>
                            </div>
                            <div th:case="'manageEmail'">
                                <div class="editNameForm">
                                    <h3>
                                        Manage Email
                                    </h3>
                                    <form th:action="@{/manageEmail}" method="post">
                                        <p>
                                            <label>
                                                <input type="email" th:field="${userForm.username}" required
                                                       placeholder="Email"/>
                                            </label>
                                        </p>
                                        <div>
                                            <button type="submit" th:text="Submit">submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </th:block>

                        <!--                                <c:when test="${phoneChange}">-->
                        <!--                                    <div class="editPhoneForm">-->
                        <!--                                        <h3><fmt:message-->
                        <!--                                                key="managePhone"/></h3>-->
                        <!--                                        <form class="editFormChild" method="post"-->
                        <!--                                              action="${pageContext.request.contextPath}/view/client/profile?change=phone&redirect=true">-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="text" required-->
                        <!--                                                           value="${phone}"-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="phone"/>"-->
                        <!--                                                    name="phone">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <div>-->
                        <!--                                                <input class="btn editProfileBtn" type="submit"-->
                        <!--                                                       value="<fmt:message-->
                        <!--                                key="submit"/>" name="changePhone">-->
                        <!--                                            </div>-->
                        <!--                                        </form>-->
                        <!--                                    </div>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${emailChange}">-->
                        <!--                                    <div class="editEmailForm">-->
                        <!--                                        <h3><fmt:message-->
                        <!--                                                key="manageEmail"/></h3>-->
                        <!--                                        <form class="editFormChild" method="post"-->
                        <!--                                              action="${pageContext.request.contextPath}/view/client/profile?change=email&redirect=true">-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="email" required-->
                        <!--                                                           value="${email}"-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="placeholderEmail"/>"-->
                        <!--                                                    name="email">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <div>-->
                        <!--                                                <input class="btn editProfileBtn" type="submit"-->
                        <!--                                                       value="<fmt:message-->
                        <!--                                key="submit"/>" name="changeEmail">-->
                        <!--                                            </div>-->
                        <!--                                        </form>-->
                        <!--                                    </div>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${passChange}">-->
                        <!--                                    <div class="editPassForm">-->
                        <!--                                        <h3><fmt:message-->
                        <!--                                                key="managePassword"/></h3>-->
                        <!--                                        <form class="editFormChild" method="post"-->
                        <!--                                              action="${pageContext.request.contextPath}/view/client/profile?change=password&redirect=true">-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="password" required-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="placeholderOldPass"/>"-->
                        <!--                                                    name="oldPass">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <p>-->
                        <!--                                                <label>-->
                        <!--                                                    <input class="profileEditorFields" type="password" required-->
                        <!--                                                           placeholder="<fmt:message-->
                        <!--                                key="placeholderNewPass"/>"-->
                        <!--                                                    name="newPass">-->
                        <!--                                                </label>-->
                        <!--                                            </p>-->
                        <!--                                            <div>-->
                        <!--                                                <input class="btn editProfileBtn " type="submit"-->
                        <!--                                                       value="<fmt:message-->
                        <!--                                key="submit"/>" name="changePassword">-->
                        <!--                                            </div>-->
                        <!--                                        </form>-->
                        <!--                                    </div>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${success}">-->
                        <!--                                    <p><fmt:message key="savedChanges"/></p>-->
                        <!--                                </c:when>-->
                        <!--                                <c:when test="${!success}">-->
                        <!--                                    <p><fmt:message key="passFail"/></p>-->
                        <!--                                </c:when>-->
                        </c:choose>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="${pageContext.request.contextPath}/styles/js/time.js"></script>

</body>
</html>