<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lang.iSPManager5}"></title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
  <header id="header" class="header-area">

    <div class="logoBlock">
      <div style="font-size: 16px; text-align: end;">
        <a th:href="@{/supportPage(lang='eng')}">EN</a>
        <a th:href="@{/supportPage(lang='ru')}">RU</a>
      </div>
      <p id="pageLogo">ISPManager</p>
      <div class="mainmenu">
        <ul class="topChange">
          <li><a class="btn" href="/clientPage" th:text="#{lang.mainPage}"></a></li>
          <li><a class="btn" href="/servicePageClient" th:text="#{lang.serviceMenu}"><i class="fa fa-angle-down"></i></a>
            <!--                        <ul class="subChange" th:each="service : ${services}">-->
            <!--                                <li>-->
            <!--                                  <a href="/view/client/servicePage?item=${service.name}&serviceId=${item.id}"><span th:text="${service.name}"></span></a>-->
            <!--                                </li>-->
            <!--                        </ul>-->
          </li>
          <li><a class="btn" href="/paymentSystem" th:text="#{lang.payments}"></a></li>
          <li><a class="btn"
                 href="#" th:text="#{lang.manageProfile}">
            <i class="fa fa-angle-down"></i></a>
            <ul class="subChange" id="profChange">
              <li>
                <a th:href="@{/manage(param='manageName')}" th:text="#{lang.name}">
                </a>
              </li>
              <li>
                <a th:href="@{/manage(param='manageEmail')}" th:text="#{lang.placeholderEmail}">
                </a>
              </li>
              <li>
                <a th:href="@{/manage(param='managePhone')}" th:text="#{lang.phone}">
                </a>
              </li>
              <li>
                <a th:href="@{/manage(param='managePassword')}" th:text="#{lang.password}">
                </a>
              </li>
            </ul>
          </li>
          <li><a class="btn" href="/supportPage" th:text="#{lang.support}">
          </a>
          </li>
          <li><a class="logOutBtn" href="/logout">
            Log Out
          </a></li>
        </ul>
      </div>
    </div>
    <div class="minInfo">
      <div id="time"><span id="datetime"></span></div>
<!--      <div class="customTagId"><customTag:idTag field="${user.id}"/></div>-->
    </div>
  </header>
  <!-- Slider area Start -->
  <div class="slider-area">
    <div class="slider-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slidertext">
              <h1 th:text="#{lang.support}"></h1>
              <br>
              <p th:text="#{lang.infoSupport}"></p>
            </div>
          </div>
          <div class="supportInfo">
            <p class="supportText" th:text="#{lang.contactPhone}"></p>
            <p class="supportText" th:text="#{lang.contactEmail}"></p>
            <div class="socialNet">
              <img class="socialIcon" th:src="@{/images/facebook.png}"/>
              <img class="socialIcon" th:src="@{/images/instagram.png}"/>
              <img class="socialIcon" th:src="@{/images/telegram.png}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/time.js}"></script>
</body>
</html>