<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISPManager: Support</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div id="home"></div>
<div class="ournet-inter-area">
  <header id="header" class="header-area">

    <div class="logoBlock">
      <div style="font-size: 16px; text-align: end;">
        <a class="loginBtn"
           href="${pageContext.request.contextPath}/view/language/client/supportPage?language=RU">
          RU
        </a>
        <a class="loginBtn"
           href="${pageContext.request.contextPath}/view/language/client/supportPage?language=EN">
          EN
        </a>
      </div>
      <p id="pageLogo">ISPManager</p>
      <div class="mainmenu">
        <ul class="topChange">
          <li><a class="btn"
                 href="/clientPage">
            Main page
          </a></li>
          <li><a class="btn"
                 href="/servicePage">
            Services
            <i
                    class="fa fa-angle-down"></i></a>
            <!--                        <ul class="subChange" th:each="service : ${services}">-->
            <!--                                <li>-->
            <!--                                  <a href="/view/client/servicePage?item=${service.name}&serviceId=${item.id}"><span th:text="${service.name}"></span></a>-->
            <!--                                </li>-->
            <!--                        </ul>-->
          </li>
          <li><a class="btn"
                 href="/paymentSystem">
            Payments
          </a></li>
          <li><a class="btn"
                 href="#">
            Manage profile
            <i class="fa fa-angle-down"></i></a>
            <ul class="subChange" id="profChange">
              <li>
                <a th:href="@{/manage(param='manageName')}">
                  Name
                </a>
              </li>
              <li>
                <a th:href="@{/manage(param='manageEmail')}">
                  Email
                </a>
              </li>
              <li>
                <a th:href="@{/manage(param='managePhone')}">
                  Phone
                </a>
              </li>
              <li>
                <a th:href="@{/manage(param='managePassword')}">
                  Password
                </a>
              </li>
            </ul>
          </li>
          <li><a class="btn" href="/supportPage">
            Support
          </a>
          </li>
          <li><a class="logOutBtn" href="/logout">
            Log Out
          </a></li>
        </ul>
      </div>
    </div>
    <div class="minInfo">
      <div id="time"><span id="datetime"></span></div>
<!--      <div class="customTagId"><customTag:idTag field="${user.id}"/></div>-->
    </div>
  </header>
  <!-- Slider area Start -->
  <div class="slider-area">
    <div class="slider-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slidertext">
              <h1>Support</h1>
              <br>
              <p>Service center contacts</p>
            </div>
          </div>
          <div class="supportInfo">
            <p class="supportText" >Contact center phone: 8-800-555-35-35</p>
            <p class="supportText" >Contact center email: ispSystem@gmail.com</p>
            <div class="socialNet">
              <img class="socialIcon" th:src="@{/images/facebook.png}"/>
              <img class="socialIcon" th:src="@{/images/instagram.png}"/>
              <img class="socialIcon" th:src="@{/images/telegram.png}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/time.js}"></script>
</body>
</html>