
<html>
<head>
    <title>Authorization</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="slider-area">
    <div class="slider-bgLogin text-center">
        <div class="container">
            <div class="row">
                <div class="slidertext">
                    <h3>Authorization</h3>
                </div>
                <div class="tableTariffs">
                    <div class="localRegistrationBlock">
                        <a class="loginBtn" href="/registration">Registration</a>
                        <a class="loginBtn" href="/view/language//?language=RU">
                            RU
                        </a>
                        <a class="loginBtn" href="/view/language//?language=EN">
                            EN
                        </a>
                    </div>
                    <form class="w3-container" align="center" method="post"
                          action="/login">
                        <p>
                            <label>
                                <input class="profileEditorFields loginField" type="text" required
                                       placeholder="Login"
                                name="username" autofocus="true">
                            </label>
                        </p>

                        <p>
                            <label>
                                <input class="profileEditorFields loginField" type="password" required
                                       placeholder="Password"
                                name="password">
                            </label>
                        </p>

                        <div>
                            <input class="btn editProfileBtn" id="loginSubmitBtn" type="submit"
                                   value="Enter">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>