<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lang.registration}"></title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div class="slider-area">
    <div class="slider-bgLogin text-center">
        <div class="container">
            <div class="row">
                <div class="slidertext">
                    <h1 th:text="#{lang.registration}">
                    </h1>
                    <br>
                </div>
                <div class="tableTariffs" id="registerForm">
                    <div class="localRegistrationBlock">
                        <a class="loginBtn" href="/">
                            Login
                        </a>
                        <a th:href="@{/registration(lang='eng')}">EN</a>
                        <a th:href="@{/registration(lang='ru')}">RU</a>
                    </div>
                    <form action="/registration" th:object="${userForm}" method="POST">
                        <div>
                            <p>
                            <label>
                            <input class="profileEditorFields loginField" type="text" th:field="*{firstName}" th:placeholder="#{lang.placeholderFirstName}"/>
                            </label>
                            </p>
                            <div>
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('firstName')}"
                                  th:errors="*{firstName} " ></span>
                            </div>
                        </div>
                        <div>
                            <p>
                            <label>
                            <input class="profileEditorFields loginField" type="text" th:field="*{secondName}" th:placeholder="#{lang.placeholderSecondName}"/>
                            </label>
                            </p>
                            <div>
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('secondName')}"
                                  th:errors="*{secondName}"></span>
                            </div>
                        </div>
                        <div>
                            <p>
                            <label>
                            <input class="profileEditorFields loginField" type="text" th:field="*{username}" th:placeholder="#{lang.placeholderEmail}"/>
                            </label>
                            </p>
                            <div>
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('username')}"
                                  th:errors="*{username}"></span>
                            </div>
                        </div>
                        <div>
                            <p>
                            <label>
                            <input class="profileEditorFields loginField" type="text" th:field="*{phone}" th:placeholder="#{lang.phone}"/>
                            </label>
                            </p>
                            <div>
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('phone')}"
                                  th:errors="*{phone}"></span>
                            </div>
                        </div>
                        <div>
                            <p>
                            <label>
                            <input class="profileEditorFields loginField" type="password" th:field="*{password}" th:placeholder="#{lang.password}"/>
                            </label>
                            </p>
                            <div>
                            <span class="validationError"
                                  th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}"></span>
                            </div>
                        </div>
                        <div>
                            <button class="btn editProfileBtn" id="loginSubmitBtn" type="submit" th:text="#{lang.submit}">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>





    </div>
</div>
</body>
</html>