<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{lang.registration}"></title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="zoom: 80%">
<div class="slider-area">
    <div class="slider-bgLogin text-center">
        <div class="container">
            <div class="row">
                <div class="slidertext">
                    <h1 th:text="#{lang.registration}">
                    </h1>
                    <br>
                </div>
                <div class="tableTariffs" id="registerForm">
                    <div class="localRegistrationBlock">
                        <a class="loginBtn" href="/">
                            Login
                        </a>
                        <a th:href="@{/registration(lang='eng')}">EN</a>
                        <a th:href="@{/registration(lang='ru')}">RU</a>
                    </div>
                    <form action="/registration" th:object="${userForm}" method="POST">
                        <div>
                            <label th:text="#{lang.placeholderFirstName}"></label>
                            <input th:field="*{firstName}"/>
                        </div>
                        <div>
                            <label th:text="#{lang.placeholderSecondName}"></label>
                            <input th:field="*{secondName}"/>
                        </div>
                        <div>
                            <label th:text="#{lang.placeholderEmail}"></label>
                            <input type="email" th:field="*{username}"/>
                        </div>
                        <div>
                            <label th:text="#{lang.phone}"></label>
                            <input type="text" th:field="*{phone}"/>
                        </div>
                        <div>
                            <label th:text="#{lang.password}"></label>
                            <input type="password" th:field="*{password}"/>
                        </div>
                        <button type="submit" th:text="#{lang.submit}">submit</button>
                        <div th:if="${er}">
                            <h3>ERROR!!!</h3>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>